{% extends 'base.html' %}

{% block base_content %}
<div class="container">
    <h3>Wapun päräyttävin seuranhakusivusto on täällä taas!</h3>
    <p>
    Aikamme kuuluisuuksien
     mukaan myös Wappuheila.com kunnioittaa suurta ja halveksii pientä,
     tuottaa onnea, karsii jyvät akanoista ja kaivaa timantit sikojen seasta!
    </p>
    <p>
    Vieläkö sinulta uupuu wappuheila? Ei se mitään, niin raatimme valitsemilta
     arvoisilta wappuheiloiltakin! Jos ei jo sukat pyöri ja nauru raikaa,
     niin suuntaa selailusi kohtia kilpailua ja elämäsi wappua.
    <p>
    Jottei wappu myöskään kärsisi huonosta säästä ja surkeasta seurasta päätti arvovaltainen
     raatimme myös jatkaa jo niin perinteikästä kilpailua astetta kosteammissa olosuhteissa. 
     Niinpä myös tänä vuonna kisailuun osallistuneet ja Wappuheilan bonganneet
     pääsevät mukaan arvontaan jossa mahdollista on kaikki, mahdotonta ei mikään!
    </p>
    <p>
    Pidemmittä löpinöittä jätä se SIKA, voita se KISA ja vaadi oma TIMANTTISI!
    </p>
</div>
{% endblock %}