{% load url from future %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
<meta name="description" content="A joyful site for finding the perfect Wappuheila" />
<meta name="author" content="BY" />
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}base.css" />
<title>{% block title %}Wappuheila.com{% endblock %}</title>

{% block facebook_head %}
<meta property="og:title" content="Wappuheila" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.wappuheila.com" />
<meta property="og:image" content="http://www.wappuheila.com{{STATIC_URL}}wh-fb.png" />
<meta property="og:site_name" content="Wappuheila.com" />
<meta property="fb:admins" content="100001009127458" />
{% endblock %}

{% block head_content %}
{% endblock %}
</head>
<body>
{% block top_navigation %}
<ul class="top-nav">
	{% if user.is_authenticated %}	
	<li>
		<a href="{% url 'user_control_panel' %}">{% trans "Omat tiedot" %}</a>
	</li>
	<li>
		<a href="{% url 'logout' %}">{% trans "Kirjaudu ulos" %}</a>
	</li>
	{% else %}
	<li>
		<a href="{% url 'register' %}">{% trans "Rekisteröidy" %}</a>
	</li>
	<li>
		<a href="{% url 'login' %}">{% trans "Kirjaudu sisään" %}</a>
	</li>
	{% endif %}
</ul>
{% endblock %}

{% block logo %}
<div class="logo">
	<img src="{{STATIC_URL}}wappuheila2012.png" alt="Wappuheila logo" />
</div>
{% endblock %}


<div class="content">
{% block navigation %}
<div class="nav">
	<ul>
		<li><a class="padded_button" href="{% url "home" %}">{% trans "Wappuheila 2012" %}</a></li>
		<li><a class="padded_button" href="{% url "wappuheilas" %}">{% trans "Wappuheilat" %}</a></li>
		<li><a class="padded_button" href="{% url "questions" %}">{% trans "Kilpailu" %}</a></li>
	</ul>
</div>
{% endblock %}

{% block messages_content %}
{% if messages %}
<div class="container">
	<ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
</div>
{% endif %}
{% endblock %}
	
{% block base_content %}
{% endblock %}

</div>

<p class="footer">Copyright BY 2012. Created by Sten Hägglund.</p>
</body>
</html>