
/***** QUESTIONNAIRE STYLES *****/
div.error{
	color:white;
  font-weight:bold;
  padding:0.3em;
  margin-bottom:0.2em;
  background-color:red;
  border-radius:0.5em;
}
div.message li{
	vertical-align: middle;
}
div.message span{
	font-size:1em;
	font-weight: bold;
}
div.message textarea{
	vertical-align: inherit;
}

div.question {
	padding:0.2em;
	border-radius: 0.5em;
	margin-bottom: 0.5em;
}

.title {
	padding:0.5em;
	border-radius:0.5em;
}

div.options{
	padding:0.2em;
}

div.options ul{
	margin:0em;
	padding-left:1em;
}

div.options li{
	margin:0.3em;
	padding:0.2em 0.1em 0.2em 0.5em;
	border-radius:0.5em;
	display:block;
}

div.options li:nth-child(even){
}

div.options li:nth-child(odd) {

}

.question input[type='submit']{
	font-size: 1em;
}

.result{
	text-align: left;
	width:30em;
	margin:1em auto;
}
.result td{
	margin:0em 0.5em;
}

.result h2{
	margin:0.2em 0em 0.8em 0em;
}
.result caption{
	position:absolute;
	font-weight: bold;
	font-size: 2em;
}

/***** WAPPUHEILA STYLES *****/
.wappuheila{
	width:48%;
	margin:1%;
	border-radius:0.5em;	
}
.wappuheila img.picture{
	float:left;
}
.wappuheila p{
	font-style: italic;
}

a.name{
	font-size:1.3em;
	text-decoration: none;
}

.wappuheila_details{
	margin:1em 3em 3em 3em;
	padding: 0em 1em 1em 1em;
}
.wappuheila_details table{
	width:60%;
}

.wappuheila_details th{
	text-align: left;
}